:root {
  --white: #fff;
  --blue: #0098ff;
  --teal: #00ffb6;
  --lightblue: #afd8f2;
  --boldyellow: #fec501;
  --orange: #ff7300;
  --darkergreen: #1a393a;
  --darkgreen: #204f58;
  --greengray: #47888a;
  --chartreuse: #b4ff28;
  --red: #ff4b00;
  --darkgray: #272a2d;
  --purple: #9747ff;
  --green: #00d020;
  --black: #010510;
  --lightgreen50: #b0eab980;
  --midgray: #373c41;
  --lighterblue: #cbd2d9;
  --bluealt: #0085d8;
  --blackalt: #161616;
  --redalt: #f94c4c;
  --orangealt: #ff8528;
  --purplealt: #bd5ae7;
  --lightestblue: #eaf0f5;
  --lightpink: #f2ceec;
  --yellow: #ffed28;
  --white30: #ffffff4f;
  --lightergray: #f1f0ee;
  --lightgreen: #b6e8be;
  --lightorange: #f8ad4f;
  --pink: #ff00f5;
  --darkestpurple: #210735;
  --midlightblue: #7fc4f2;
  --darkblue: #0081d9;
  --midpurple: #6f00ff;
  --midpurplegray: #b397bf;
  --gray: #6a747e;
  --darkpurplegray: #584361;
  --lightpurplegray: #e0c8ea;
  --lightgreengray: #80bec0;
  --lightgray: #b2adbe;
  --midgrayalt: #4f5963;
  --darkpurplegrayalt: #432e4c;
  --midgreen: #71dc81;
  --midgreengray: #60b56d;
  --darkestblue: #071a35;
  --lightestorange: #d9d0cb;
  --darkorange: #c25e0c;
  --darkerorange: #9e3a18;
  --midorange: #f5b463;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--black);
  background: var(--lightestorange);
}
